{% extends "./base.html" %} {% block content %}
<h4>POST http://127.0.0.1:8000/api/protein/ -add a new record</h4>
<a href="/api/gene/7">http://127.0.0.1:8000/api/protein/</a>
<h4>
  GET http://127.0.0.1:8000/api/protein/[PROTEIN ID] - return the protein
  sequence and all we know about it
</h4>
<a href="/api/protein/A0A1TESTID"
  >http://127.0.0.1:8000/api/protein/A0A1TESTID</a
>
<h4>
  GET http://127.0.0.1:8000/api/pfam/[PFAM ID] - return the domain and it's
  description
</h4>
<a href="/api/pfam/PF003600TESTID"
  >http://127.0.0.1:8000/api/pfam/PF003600TESTID</a
>

<h4>
  GET http://127.0.0.1:8000/api/proteins/[TAXA ID] - return a list of all
  proteins for a given organism
</h4>
<a href="/api/proteins/55661TAXAID"
  >http://127.0.0.1:8000/api/proteins/55661TAXAID</a
>

<h4>
  GET http://127.0.0.1:8000/api/pfams/[TAXA ID] - return a list of all domains
  in all the proteins for a given organism
</h4>
<a href="/api/pfams/55661TAXAID">http://127.0.0.1:8000/api/pfams/55661TAXAID</a>

<h4>
  GET http://127.0.0.1:8000/api/coverage/[PROTEIN ID] - return a domain coverage
  for a given protein, (start-stop)
</h4>
<a href="/api/coverage/A0A0PROTEINID"
  >http://127.0.0.1:8000/api/pfams/55661TAXAID</a
>

<br />
{% endblock %}
